<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Sigma Search</title>
    <link rel='shortcut icon' href='static/icon.ico' type='image/x-icon'/ > 
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link href="static/css/main.css" rel="stylesheet"> </head>

<body>

    <div class="container">

        <a href="../"><div class="btn btn-primary" style="margin-top: 0px;margin-left: 90%;"><span style="color:white;">Back to Search</span></div></a> 
        <div class='img'> <img src='static/logo.png'> </div>
        <h3 style='text-align: center; color: #2baae1; font: 30px Roboto-Regular;'>Reverse Image Search</h3>

        <div class="col-md-6 col-md-offset-3">

            <form id="upload-file" method="post" enctype="multipart/form-data">

                <div class="form-group" style="margin:40px ,40px, 20px, 20px ; display:inline;">
                    <div id="fileUpload" style="margin:24px auto;">
                        <input type="file" name="file" class="filestyle" data-buttonName="btn-primary" data-placeholder="No file" id="file" /> </div>
                    <button type="button" class="btn btn-primary" id="upload-file-btn" name="submit" id="submitButton" style="align:center; margin-left:40%; display:inline">Search</button>
                </div>

                <div id="Output"> 

                </div>

            </form>

        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap-filestyle.js"></script>
    <script src="static/js/upload.js"></script>

</body>

</html>
